body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #FFF;
}

button {
  float: left;
  /*margin: 4px 6px;*/
  /*width: 72px;*/
  width: 21%;
  margin: 0 2%;
  margin-top: 10px;
  height: 20px;
  border-radius: 8px;
  border: none;
}

button:hover {
  cursor: pointer;
  color: #eee;
  background-color: #222;
}

.unit {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-width: 0 1px 1px 0;
  float: left;
}

#canvas {
  background: #FFF url(imgs/background.png) repeat;
  overflow: hidden;
  border-radius: 6px;
  margin: auto;
  margin-top: 10px;
  vertical-align: bottom;
}

#control-panel {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 350px;
  height: 55px;
  bottom: 50px;
  right: 40px;
  padding: 11px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#monitor {
  width: 200px;
}

#ai-number {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.triangle-isosceles {
  position: absolute;
  padding:15px;
  margin:1em 0 3em;
  color:#FFF;
  background:#f3961c;
  /*display: none;*/

  /* css3 */
  /*border-radius:10px;*/
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* creates triangle */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom: -30px;
  left: 20px;
  width:0;
  border-width:15px 10px;
  border-style:solid;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}    
